@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Dosis:wght@200;300;400;500;600&family=Lobster&family=Montserrat:wght@100;200;300;400;500&family=Open+Sans:wght@300;400;500&family=Poppins:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}